<footer class="site-footer">
    <div class="container footer-grid">

        <div>
            <strong>Kontakt</strong>
            <p>
                Florian Kampmann<br>
                Allensteiner Straße 17<br>
                33449 Langenberg
            </p>
            <p>
                <a href="mailto:doptionmail@gmail.com" style="color:inherit;">doptionmail@gmail.com</a><br>
                +49 176 63136375
            </p>
        </div>

        <div>
            <strong>Weitere Kanäle</strong>
            <ul>
                <li><a href="https://www.ebay.de/usr/doption" target="_blank" rel="noopener">eBay</a></li>
                <li><a href="https://doption.etsy.com" target="_blank" rel="noopener">Etsy</a></li>
                <li><a href="https://www.temu.com/mall.html?_bg_fs=1&mall_id=670702094242289&goods_id=604369995013254&sticky_type=3&refer_page_name=bgn_verification&refer_page_id=10017_1771577427396_n1hvdqtp8b&refer_page_sn=10017&_x_sessn_id=68xyo6ts17"
                        target="_blank" rel="noopener">Temu</a></li>
                <li><a href="https://www.kleinanzeigen.de/s-bestandsliste.html?userId=133315953" target="_blank"
                        rel="noopener">Kleinanzeigen</a></li>
                <li><a href="https://www.trustami.com/erfahrung/doption-bewertung" target="_blank"
                        rel="noopener">Trustami</a>
                </li>
            </ul>
        </div>

        <div>
            <strong>Rechtliches</strong>
            <ul>
                <li><a href="impressum.html">Impressum</a></li>
                <li><a href="datenschutz.html">Datenschutz</a></li>
                <li><a href="agb.html">AGB</a></li>
                <li><a href="widerrufsrecht.html">Widerrufsrecht</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Florian Kampmann<br>
        <span class="footer-note">
            Alle Marken und Warenzeichen sind Eigentum der jeweiligen Rechteinhaber.<br>
            Der Verkauf erfolgt durch uns über externe Plattformen (z. B. eBay, Etsy, Kleinanzeigen).
        </span>
    </div>
</footer>